
<body >

    <div class="immagine-sfondo"></div>
      <nav>
        <ul class="nav-bar">
          <a (click)="home()"><div class="title"><img src="../../assets/icons/profilo.png" alt="icona profilo" class="icona-profilo"></div></a>
          <input
            type="checkbox"
            id="check" />
          <span class="menu">
            <li><a (click)="logOut()">Logout</a></li>
            <label
              for="check"
              class="close-menu"
              ><i class="fas fa-times"></i
            ></label>
          </span>
          <label
            for="check"
            class="open-menu"
            ><i
              class="fas fa-bars"
              style="color: white"></i
          ></label>
        </ul>
      </nav>
    
      <div class="contenitore-principale">
        <!-- <nav aria-label="breadcrumb" style="margin-bottom: -80px;">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">prenotazioni</li>
          </ol>
        </nav> -->
    
      <div class="contenitore-bottoni">
        <button class="bottone" (click)="lunedi()" >Lunedì</button>
        <button class="bottone" (click)="martedi()">Martedì</button>
        <button class="bottone" (click)="mercoledi()">Mercoledì</button>
        <button class="bottone" (click)="giovedi()" >Giovedì</button>
        <button class="bottone" (click)="venerdi()">Venerdì</button>
        <button class="bottone" (click)="sabato()">Sabato</button>
        <button class="bottone" (click)="domenica()"style="background-color: #495057;">Domenica</button>
      </div>
    
      <div style="margin-bottom:  -10px; margin-top: -20px;">
        <h1>Domenica</h1>
      </div>
  
      <div   class="contenitore2">
        <div class="carta">
          <div class="prima-riga">
            <div class="left">
              <div class="indicatore"></div>
              <span class="cus">CUS-Montagnano-Contram</span>
            </div>
            <div class="right">
              <span style="color: #9a9a9a; ">Orario</span>
              <span style="font-weight: 600;">Dom:10:00</span>
            </div>
          </div>
          <div class="separatore"></div>
          <div class="seconda-riga">
            <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_10','CUS-Montagnano-Contram')"> <span>Clicca per prenotare</span></a>
          </div>
        </div>
        <div class="carta">
          <div class="prima-riga">
            <div class="left">
              <div class="indicatore"></div>
              <span class="cus">Contram-Montagnano-CUS</span>
            </div>
            <div class="right">
              <span style="color: #9a9a9a; ">Orario</span>
              <span style="font-weight: 600;">Dom:10:30</span>  
            </div>
          </div>
          <div class="separatore"></div>
          <div class="seconda-riga">
           <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_10_30','Contram-Montagnano-CUS')"><span>Clicca per prenotare</span></a>
          </div>
        </div>
        <div class="carta">
            <div class="prima-riga">
              <div class="left">
                <div class="indicatore"></div>
                <span class="cus">CUS-Montagnano-Contram</span>
              </div>
              <div class="right">
                <span style="color: #9a9a9a; ">Orario</span>
                <span style="font-weight: 600;">Dom:11:00</span>  
              </div>
            </div>
            <div class="separatore"></div>
            <div class="seconda-riga">
             <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_11','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
            </div>
          </div>
          
          <div class="carta">
            <div class="prima-riga">
              <div class="left">
                <div class="indicatore"></div>
                <span class="cus">Contram-Montagnano-CUS</span>
              </div>
              <div class="right">
                <span style="color: #9a9a9a; ">Orario</span>
                <span style="font-weight: 600;">Dom:11:30</span>
              </div>
            </div>
            <div class="separatore"></div>
            <div class="seconda-riga">
              <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_11_30','Contram-Montagnano-CUS')"> <span>Clicca per prenotare</span></a>
            </div>
          </div>
          <div class="carta">
            <div class="prima-riga">
              <div class="left">
                <div class="indicatore"></div>
                <span class="cus">CUS-Montagnano-Contram</span>
              </div>
              <div class="right">
                <span style="color: #9a9a9a; ">Orario</span>
                <span style="font-weight: 600;">Dom:12:00</span>  
              </div>
            </div>
            <div class="separatore"></div>
            <div class="seconda-riga">
              <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_12','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span> </a>
            </div>
          </div>
          <div class="carta">
              <div class="prima-riga">
                <div class="left">
                  <div class="indicatore"></div>
                  <span class="cus">Contram-Montagnano-CUS</span>
                </div>
                <div class="right">
                  <span style="color: #9a9a9a; ">Orario</span>
                  <span style="font-weight: 600;">Dom:12:30</span>  
                </div>
              </div>
              <div class="separatore"></div>
              <div class="seconda-riga">
                <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_12_30','Contram-Montagnano-CUS')"><span>Clicca per prenotare</span></a>
              </div>
            </div>
            <div class="carta">
              <div class="prima-riga">
                <div class="left">
                  <div class="indicatore"></div>
                  <span class="cus">CUS-Montagnano-Contram</span>
                </div>
                <div class="right">
                  <span style="color: #9a9a9a; ">Orario</span>
                  <span style="font-weight: 600;">Dom:13:00</span>
                </div>
              </div>
              <div class="separatore"></div>
              <div class="seconda-riga">
                <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_13','CUS-Montagnano-Contram')"> <span>Clicca per prenotare</span></a>
              </div>
            </div>
            <div class="carta">
              <div class="prima-riga">
                <div class="left">
                  <div class="indicatore"></div>
                  <span class="cus">Contram-Montagnano-CUS</span>
                </div>
                <div class="right">
                  <span style="color: #9a9a9a; ">Orario</span>
                  <span style="font-weight: 600;">Dom:13:30</span>  
                </div>
              </div>
              <div class="separatore"></div>
              <div class="seconda-riga">
                <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_13_30','Contram-Montagnano-CUS')"><span>Clicca per prenotare</span></a>
              </div>
            </div>
            <div class="carta">
                <div class="prima-riga">
                  <div class="left">
                    <div class="indicatore"></div>
                    <span class="cus">CUS-Montagnano-Contram</span>
                  </div>
                  <div class="right">
                    <span style="color: #9a9a9a; ">Orario</span>
                    <span style="font-weight: 600;">Dom:15:00</span>  
                  </div>
                </div>
                <div class="separatore"></div>
                <div class="seconda-riga">
                  <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_15','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
                </div>
              </div>
              <div class="carta">
                <div class="prima-riga">
                  <div class="left">
                    <div class="indicatore"></div>
                    <span class="cus">Contram-Montagnano-CUS</span>
                  </div>
                  <div class="right">
                    <span style="color: #9a9a9a; ">Orario</span>
                    <span style="font-weight: 600;">Dom:15:30</span>
                  </div>
                </div>
                <div class="separatore"></div>
                <div class="seconda-riga">
                  <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_15_30','Contram-Montagnano-CUS')"> <span>Clicca per prenotare</span></a>
                </div>
              </div>
              <div class="carta">
                <div class="prima-riga">
                  <div class="left">
                    <div class="indicatore"></div>
                    <span class="cus">CUS-Montagnano-Contram</span>
                  </div>
                  <div class="right">
                    <span style="color: #9a9a9a; ">Orario</span>
                    <span style="font-weight: 600;">Dom:16:00</span>  
                  </div>
                </div>
                <div class="separatore"></div>
                <div class="seconda-riga">
                  <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_16','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
                </div>
              </div>
              <div class="carta">
                  <div class="prima-riga">
                    <div class="left">
                      <div class="indicatore"></div>
                      <span class="cus">Contram-Montagnano-CUS</span>
                    </div>
                    <div class="right">
                      <span style="color: #9a9a9a; ">Orario</span>
                      <span style="font-weight: 600;">Dom:16:30</span>  
                    </div>
                  </div>
                  <div class="separatore"></div>
                  <div class="seconda-riga">
                    <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_16_30','Contram-Montagnano-CUS')"><span>Clicca per prenotare</span></a>
                  </div>
                </div>
                <div class="carta">
                  <div class="prima-riga">
                    <div class="left">
                      <div class="indicatore"></div>
                      <span class="cus">CUS-Montagnano-Contram</span>
                    </div>
                    <div class="right">
                      <span style="color: #9a9a9a; ">Orario</span>
                      <span style="font-weight: 600;">Dom:17:00</span>
                    </div>
                  </div>
                  <div class="separatore"></div>
                  <div class="seconda-riga">
                    <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_17','CUS-Montagnano-Contram')"> <span>Clicca per prenotare</span></a>
                  </div>
                </div>
                <div class="carta">
                  <div class="prima-riga">
                    <div class="left">
                      <div class="indicatore"></div>
                      <span class="cus">Contram-Montagnano-CUS</span>
                    </div>
                    <div class="right">
                      <span style="color: #9a9a9a; ">Orario</span>
                      <span style="font-weight: 600;">Dom:17:30</span>  
                    </div>
                  </div>
                  <div class="separatore"></div>
                  <div class="seconda-riga">
                    <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_17_30','Contram-Montagnano-CUS')"><span>Clicca per prenotare</span></a>
                  </div>
                </div>
                <div class="carta">
                    <div class="prima-riga">
                      <div class="left">
                        <div class="indicatore"></div>
                        <span class="cus">CUS-Montagnano-Contram</span>
                      </div>
                      <div class="right">
                        <span style="color: #9a9a9a; ">Orario</span>
                        <span style="font-weight: 600;">Dom:18:00</span>  
                      </div>
                    </div>
                    <div class="separatore"></div>
                    <div class="seconda-riga">
                      <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_18','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
                    </div>
                  </div>
                  <div class="carta">
                    <div class="prima-riga">
                      <div class="left">
                        <div class="indicatore"></div>
                        <span class="cus">Contram-Montagnano-CUS</span>
                      </div>
                      <div class="right">
                        <span style="color: #9a9a9a; ">Orario</span>
                        <span style="font-weight: 600;">Dom:18:30</span>
                      </div>
                    </div>
                    <div class="separatore"></div>
                    <div class="seconda-riga">
                      <a  style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_18_30','Contram-Montagnano-CUS')"> <span>Clicca per prenotare</span></a>
                    </div>
                  </div>
                  <div class="carta">
                    <div class="prima-riga">
                      <div class="left">
                        <div class="indicatore"></div>
                        <span class="cus">CUS-Montagnano-Contram</span>
                      </div>
                      <div class="right">
                        <span style="color: #9a9a9a; ">Orario</span>
                        <span style="font-weight: 600;">Dom:19:00</span>  
                      </div>
                    </div>
                    <div class="separatore"></div>
                    <div class="seconda-riga">
                      <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_19','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
                    </div>
                  </div>
                  <div class="carta">
                      <div class="prima-riga">
                        <div class="left">
                          <div class="indicatore"></div>
                          <span class="cus">CUS-Montagnano-Contram</span>
                        </div>
                        <div class="right">
                          <span style="color: #9a9a9a; ">Orario</span>
                          <span style="font-weight: 600;">Dom:20:00</span>  
                        </div>
                      </div>
                      <div class="separatore"></div>
                      <div class="seconda-riga">
                        <a style="color: #2e2e2e; font-size: 0.9rem;" (click)="book('ORE_20','CUS-Montagnano-Contram')"><span>Clicca per prenotare</span></a>
                      </div>
                    </div>
      </div>
        <div *ngIf="!isMonday"  class="alert alert-danger" role="alert">
          Non è possibile effettuare la prenotazione
        </div>
    </div>
  
    </body>